@font-face {
    font-family: 'Microsoft Sans Serif';
    src: url('/fonts/Microsoft Sans Serif.woff2') format('woff2'),
}
/* @font-face {
    font-family: 'PingFangTC-Medium';
    src: url('/fonts/PingFang-Mod-19.0d5e3-TC-Medium.woff') format('woff'),
} */
@font-face {
    font-family: 'Hei';
    src: url('/fonts/Hei.woff2') format('woff2'),
}
/* @font-face {
    font-family: 'PingFangTC-Medium';
    src: url('/fonts/PingFang-Mod-19.0d5e3-TC-Medium.otf') format('opentype'),
}
@font-face {
    font-family: 'PingFangTC-Medium';
    src: url('/fonts/PingFang-Mod-19.0d5e3-TC-Medium.otf') format('opentype'),
} */
body {
    font-family: "PingFangTC-Medium", "Microsoft Sans Serif";
    /* color: rgb(200, 200, 200); */
   /* line-height: 1.6;
    font-size: 0.94; */
    /* font-weight: 600; */
}
strong
{
    color: rgb(115, 88, 125);
    font-weight: Bold;
    font-family: "Microsoft Sans Serif", "Hei";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
    text-decoration: none;
}
h1 tt,
h1 code {
    font-size: inherit;
}
h2 tt,
h2 code {
    font-size: inherit;
}
h3 tt,
h3 code {
    font-size: inherit;
}
h4 tt,
h4 code {
    font-size: inherit;
}
h5 tt,
h5 code {
    font-size: inherit;
}
h6 tt,
h6 code {
    font-size: inherit;
}
h1 {
    font-family: "Microsoft Sans Serif", "Hei";
    font-size: 2.25em;
    line-height: 1.2;
    font-weight: 900;
    border-bottom: 1px solid #eee;
}
h2 {
    font-family: "Microsoft Sans Serif", "Hei";
    font-size: 1.75em;
    font-weight: 900;
    line-height: 1.225;
}
h3 {
    font-family: "Microsoft Sans Serif", "Hei";
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.43;
}
h4 {
    font-family: "Microsoft Sans Serif", "Hei";
    font-weight: 900;
    font-size: 1.25em;
}
h5 {
    font-family: "Microsoft Sans Serif", "Hei";
    font-weight: 900;
    font-size: 1em;
}
h6 {
    font-family: "Microsoft Sans Serif", "Hei";
    font-weight: 900;
   font-size: 1em;
    color: #777;
}
blockquote {
    font-style: normal; /* 移除倾斜 */
    font-weight: normal; /* 移除加粗 */
    /* 其他样式调整，如颜色、边框等 */
    color: #666; /* 灰色文字 */
    border-left: 4px solid #ccc; /* 左侧边框 */
    padding-left: 1rem; /* 左侧内边距 */
    margin-left: 0; /* 移除左边距 */
    margin-right: 0; /* 移除右边距 */
}
/* code {
    padding: 2px 2px 2px 2px;
    font-family: "Monaco", "Hei";
    color: #FFB6C1;
} */